html,
body {
    background: #F8F8F8;
    width: 1512px;
    height: 1000px;
}

body,
textarea,
input {
    color: #4b4b4b;
}

textarea::placeholder,
input::placeholder {
    color: #E0DFDE;
}


.app {
    display: flex;
    flex-direction: column;
    height: 100%;
}

/* ヘッダー */
.header {
    padding: 10px 20px 10px 20px;
    gap: 10px;
    border: 0px 0px 1px 0px;
    opacity: 0px;
    text-align: left;
    background: #FFFFFF;
}


.header__heading {
    font-family: "Charm", cursive;
    font-weight: 400;
    font-style: italic;
    grid-column: 2;
    font-size: 30px;
    line-height: 32.73px;
    text-align: left;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    color: #F5C800;
    width: 112px;
    height: 33px;
    gap: 0px;
    opacity: 0px;
}


/* コンテンツ */
.content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    padding: 48px;
    width: 1,512px;
    height: 930px;
    padding: 0px 30px 20px 30px;
    gap: 40px;
    opacity: 0px;

}

.content__heading {
    font-family: Hiragino Kaku Gothic Pro;
    font-size: 32px;
    font-weight: 600;
    line-height: 48px;
    text-align: left;
    width: 128px;
    height: 48px;
    gap: 0px;
    opacity: 0px;
}


